.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > button {
  width: 300px;
  height: 30px;
  background-color: #3ea4fb;
  color: white;
  font-weight: 800;
  border-width: 0;
  cursor: pointer;
}

.login > button:hover {
  background-color: gainsboro;
  color: #3ea4fb;
}
